.container{
    width:50px;
    height:100px;
    border:5px solid  rgb(244, 124, 5);
    border-radius:30px;

    position:relative;
    overflow-y:hidden;
}
.container::after {
    content:'';
    position:absolute;
    top:10px;
    left:12.5px;
    width:50%;
    height:25px;
    background:rgb(244, 124, 5);
    border-radius:50%;
    animation:slide 3s infinite linear;

}
@keyframes slide{
    0%{
        top:-50%;
    }
    25%{
        top:10px;
        height:25px;
    }
    40%{
        top:10px;
        height:30px;
    }
    45%{
        top:15px;
    }
    49%{
        height:35px;
    }
    50%,80%{
        top:calc(100% - 10px - 25px);
        height:25px;
    }
    100%{
        top:130%;
    }
}